<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072274460676-3ojvov7dib3tfsd2nbigp7ndg94rv5n7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072274460676-3ojvov7dib3tfsd2nbigp7ndg94rv5n7</string>
	<key>API_KEY</key>
	<string>AIzaSyBccrR50rk7x8fSoDrYsb1JeXI5aWALv8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1072274460676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invisionlab-kr.wisdom-tooth-web-app</string>
	<key>PROJECT_ID</key>
	<string>invisionlab-wisdom-tooth</string>
	<key>STORAGE_BUCKET</key>
	<string>invisionlab-wisdom-tooth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072274460676:ios:bfd9e7349d7a3c1acee551</string>
</dict>
</plist>